<main>
  <div class="container">
    <app-flickr></app-flickr>
    <hr class="extra-margins mt-5">
    <div class="row">
      <div class="col-lg-12">
        <div>
          <img src="../../../assets/develop.png" class="img-fluid " alt="">
        </div> 
        <br> 
      </div>
    </div> 
    <hr class="extra-margins">
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <div>
            <img src="http://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(37).jpg" class="img-fluid" alt="">
          </div>
          <div class="card-block">
            <h4 class="card-title">Content Managing</h4>
            <p class="card-text">User generated content in real-time will have multiple touchpoints for offshoring.</p>
            <a href="#" class="btn btn-info">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div>
            <img src="http://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(21).jpg" class="img-fluid" alt="">
          </div>
          <div class="card-block">
            <h4 class="card-title">Startegy Planning</h4>
            <p class="card-text">Bring to the table win-win survival strategies to ensure proactive domination.</p>
            <a href="#" class="btn btn-info">Read more</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card">
          <div>
            <img src="http://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20(12).jpg" class="img-fluid" alt="">
          </div>
          <div class="card-block">
            <h4 class="card-title">Cloud Solutions</h4>
            <p class="card-text">A new normal that has X is on the heading towards a streamlined cloud solution.</p>
            <a href="#" class="btn btn-info">Read more</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>